# TODO: Make all env variables configurable
services:
  postgres:
    container_name: "app-starter-postgres"
    image: "postgres:15.1"
    environment:
      POSTGRES_DB: "app_starter"
      POSTGRES_USER: "dev"
      POSTGRES_PASSWORD: "dev"
    expose:
      - "5432"
    ports:
      - "5432:5432"
    restart: "no"
  redis:
    container_name: "app-starter-redis"
    image: redis:7.4.0
    ports:
      - "6379:6379"
